# Dependencies
node_modules/
.pnpm-debug.log*

# Next.js
.next/
out/

# Hardhat
artifacts/
cache/
typechain-types/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db
